absl-py==0.11.0
appdirs==1.4.4
appnope==0.1.0
argon2-cffi==20.1.0
astunparse==1.6.3
attrs==20.1.0
autopep8==1.5.4
backcall==0.2.0

beautifulsoup4==4.9.3
bleach==3.1.5
blis==0.7.4
bokeh==1.4.0
bs4==0.0.1
cachetools==4.2.1
catalogue==2.0.1
certifi==2020.12.5
cffi==1.14.2
chardet==3.0.4
click==7.1.2
cycler==0.10.0
cymem==2.0.5
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.1
elasticsearch==7.10.1
entrypoints==0.3
filelock==3.0.12
Flask==1.1.1
Flask-Cors==3.0.10
Flask-SocketIO==4.2.1
flatbuffers==1.12
funcy==1.15
future==0.18.2
gast==0.3.3
gensim==4.0.0
google-auth==1.24.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
graph-theory==2021.4.3.44536
grpcio==1.32.0
h5py==2.10.0
idna==2.10
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.1
joblib==0.14.1
json5==0.9.5
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.6.3
jupyterlab==2.2.6
jupyterlab-server==1.2.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
line-profiler==3.2.1
Markdown==3.3.3
MarkupSafe==1.1.1
matplotlib==3.3.3
mistune==0.8.4
murmurhash==1.0.5
natsort==7.1.1
nbconvert==5.6.1
nbformat==5.0.7
networkx==2.5
nltk==3.5
notebook==6.1.3
numexpr==2.7.3
numpy==1.20.2
oauthlib==3.1.0
opencv-python==4.4.0.46
opt-einsum==3.3.0
p5py==1.0.0
packaging==20.1
pandas==1.2.3
pandocfilters==1.4.2
parso==0.7.1
pathy==0.4.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.0.0
preshed==3.0.5
prometheus-client==0.8.0
prompt-toolkit==3.0.7
protobuf==3.14.0
psutil==5.8.0
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycparser==2.20
pydantic==1.7.3
Pygments==2.6.1
PyJWT==1.7.1
pyLDAvis==3.3.1
pyparsing==2.4.6
pyproj==2.6.1.post1
PyQt5==5.15.2
PyQt5-sip==12.8.1
pyrsistent==0.16.0
pyshp==2.1.2
python-dateutil==2.8.1
python-engineio==3.11.2
python-socketio==4.4.0
pytz==2019.3
PyYAML==5.3
pyzmq==19.0.2
regex==2021.3.17
requests==2.24.0
requests-oauthlib==1.3.0
rsa==4.7
sacremoses==0.0.44
scikit-bio==0.2.3
scikit-learn==0.22.1
scipy==1.4.1
seaborn==0.11.0
selenium==3.141.0
Send2Trash==1.5.0
Shapely==1.7.0
six==1.14.0
sklearn==0.0
smart-open==3.0.0
soupsieve==2.2.1
spacy==3.0.5
spacy-legacy==3.0.1
srsly==2.4.0
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
tensorflow-estimator==2.4.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
thinc==8.0.2
threadpoolctl==2.1.0
tokenizers==0.10.1
toml==0.10.2
tornado==6.0.3
tqdm==4.59.0
traitlets==5.0.0
transformers==4.4.2
twilio==6.53.0
typer==0.3.2
typing-extensions==3.7.4.3
urllib3==1.25.10
virtualenv==20.4.3
wasabi==0.8.2
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==0.16.0
wordcloud==1.8.1
wrapt==1.12.1
